:host {
  background-image: url(",,/../../../../assets/mesesarios/lista-mesesario.JPG");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: block;
  .img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }
  .img-wide {
    height: 300px;
  }
  .img-side-large {
    height: 400px;
  }
  .img-side-small {
    height: 200px;
  }
  .title {
    color: #673ab7;
  }
  .active {
    background-color: #673ab7;
    color: white;
  }
  .subtitle {
    color: #777;
  }
  .description {
    color: #555;
    font-size: 19px;
  }
  .gutter {
    box-sizing: border-box;
    background-clip: padding-box;
    border: 5px solid transparent;
    padding: 5px;
  }
  .isDesktop {
    @media screen and (max-width: 450px) {
      display: none;
    }
  }
  .isMobile {
    @media screen and (min-width: 451px) {
      display: none;
    }
  }
}
