<mat-toolbar color="primary">
  <span>Nuestros Mesesarios 💕 💕</span>
  <i style="right: 20px; position: absolute;" class="fas fa-undo"></i>

</mat-toolbar>
<div class="wrapper">
  <div class="grid border isDesktop">
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/0' ]" routerLinkActive="active">0</div>
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/1' ]" routerLinkActive="active">1</div>
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/2' ]" routerLinkActive="active">2</div>
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/3' ]" routerLinkActive="active">3</div>
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/4' ]" routerLinkActive="active">4</div>
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/5' ]" routerLinkActive="active">5</div>
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/6' ]" routerLinkActive="active">6</div>
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/7' ]" routerLinkActive="active">7</div>
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/8' ]" routerLinkActive="active">8</div>
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/9' ]" routerLinkActive="active">9</div>
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/10' ]" routerLinkActive="active">10</div>
    <div class="col-1 card gutter" [routerLink]="[ '/lista-mesesarios/11' ]" routerLinkActive="active">11</div>
  </div>
  <div class="grid border isMobile">
    <div class="col-1 card gutter" (click)="irMesesario(mesActual,'-')">
      <</div> <div class="col-1 card gutter">{{mesActual}}
    </div>
    <div class="col-1 card gutter" (click)="irMesesario(mesActual,'+' )">></div>
  </div>
</div>
<div class="wrapper">
  <div class="grid border">
    <div class="col-6">
      <div class="grid">
        <div class="col-12">
          <img class="img img-wide" src="../../../assets/mesesarios/{{mesActual}}/1.jpg">
        </div>
        <div class="col-7">
          <img class="img img-side-large" src="../../../assets/mesesarios/{{mesActual}}/2.jpg">
        </div>
        <div class="col-5">
          <img class="img img-side-small" src="../../../assets/mesesarios/{{mesActual}}/3.jpg">
          <img class="img img-side-small" src="../../../assets/mesesarios/{{mesActual}}/4.jpg">
        </div>
        <div class="col-12">
          <img class="img img-wide" src="../../../assets/mesesarios/{{mesActual}}/5.jpg">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <h1 class="title">Feliz 1er Aniversario Moshiii <3 </h1>
        <h3 class="subtitle"> 19-04-2019</h3>
        <p class="description">Moshiiii!!! Mira cuanto hemos podido recorrer juntitos, y eso que estos son solo nuestros mesesarios y nuestro primer San Valentín, aunque han quedado aun muchas cosas por poner quedo que sepas que hay miles de recuerdos aun más vividos grabados en mi memoria. Esto solo es nuestro lugarcito que después con el tiempo lo haremos seguir creciendo, y que cada vez tendra mas cositas de nosotros. <br> Quería almenos darte la sorpresita de tener ya nuestro espacio propio :3 para estar por cualquier lado mas unidos :3 Edes mi vida y te amo mucho amoshi, sin ti ninguna de esas fotitos, de esas experiencias ni ninguna de esos bonitos momentos los podría haber pasado. Ni siquiera me gustaria saber como hubiera estado hoy sin ti. Ya somos parejita aniversaria :3 somos mas OP y hemos podido sobrellevar los obstaculos que se nos han ido presentando, ya tendremos también más tiempo de conversar, planear nuestros proyectos juntos y tener más libertad, pero todo esfuerzo conlleva después una gran cosecha de éxitos. 
        <br>
        Gracias amoshi por estar juntito a mi.
        <br> Gracias moshi por permitirme entrar en tu vida y poder compartir estos momentitos juntos :3
        <br> Gracias moshi por todooooo!!!!
        <br>  
        Te amo mucho moshiii y es nuestro momentito de festejar !!!!
        <br> <br>
          FELIZ MESESARIO AMOSHIIIIIII!!!!!!
      </p>
      </div>
    </div>
  </div>
</div>