.container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
   
    .item{ 
       max-width: 25%;
        flex-basis: 25%;
        padding: 10px;
        box-sizing: border-box;
       
        @media screen and(max-width: 1200px) {
            flex-basis: 33%;
            max-width: 33%;
        }
        @media screen and(max-width: 980px) {
            flex-basis: 50%;
            max-width: 50%;
        }
        @media screen and(max-width: 600px) {
            flex-basis: 100%;
            max-width: 100%;
        }

    }
}