<mat-toolbar color="primary">
  <span>Mundo Amoshi 💕 💕</span>
</mat-toolbar>
<div class="container">
  <div class="item">
    <mat-card class="fixed-card">
      <mat-card-header>
        <div mat-card-avatar style="color:white; background-color:#B71C1C; text-align: center; line-height: 40px;"><i
            class="fas fa-heart"></i></div>
        <mat-card-title>Nuestros Mesesarios</mat-card-title>
        <mat-card-subtitle>Para recordar cada meseshote juntos <3 </mat-card-subtitle> </mat-card-header> <img
            mat-card-image style="max-height:370px; object-fit:cover; object-position: center;" src="../../assets/cardphoto0.jpeg"
            alt="mesesarios">
            <mat-card-content>
              <p>
                Lugar para recordar y visitar todas nuestras fotitos por nuestros mesesarios 💕 
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/lista-mesesarios/0']">ENTRAR</button>
            </mat-card-actions>
    </mat-card>
  </div>

  <div class="item">
    <mat-card class="card-verification">
      <mat-card-header>
        <div mat-card-avatar style="color:white; background-color:#01579B; text-align: center; line-height: 40px;"><i
            class="fas fa-book-spells"></i></div>
        <mat-card-title>Dedicatorias :3</mat-card-title>
        <mat-card-subtitle>Mensajitos de lo que siento a mi linda bella :)
        </mat-card-subtitle>
      </mat-card-header> <img mat-card-image style="max-height:370px; object-fit:cover; object-position: center;" src="../../assets/cardphoto1.jpeg"
        alt="mesesarios">
      <mat-card-content>
        <p>
          Sitio donde guardare las cartitas virtuales para mi moshi :3 <br/>&nbsp;
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ENTRAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="item">
      <mat-card class="card-verification">
          <mat-card-header>
            <div mat-card-avatar style="color:white; background-color:#33691E; text-align: center; line-height: 40px;"><i
                class="fas fa-book-spells"></i></div>
            <mat-card-title>Bucket List</mat-card-title>
            <mat-card-subtitle>Mensajitos de lo que siento a mi linda bella :)
            </mat-card-subtitle>
          </mat-card-header> <img mat-card-image style="height: 370px; max-height:370px; object-fit:cover; object-position: center;" src="../../assets/cardphoto2.jpeg"
            alt="mesesarios">
          <mat-card-content>
            <p>
              ToDo List para ir agregando las cositas que querramos hacer en el futuro juntitos 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>COMING SOON :3</button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div class="item">
      <mat-card class="card-verification">
          <mat-card-header>
            <div mat-card-avatar style="color:white; background-color:#E65100; text-align: center; line-height: 40px;"><i class="fas fa-sticky-note"></i></div>
            <mat-card-title>Nuestras Notitas</mat-card-title>
            <mat-card-subtitle>Cositas para dejarnos entre los dos :3
            </mat-card-subtitle>
          </mat-card-header> <img mat-card-image style="height: 370px; max-height:370px; object-fit:cover; object-position: center;" src="../../assets/cardphoto3.jpeg"
            alt="mesesarios">
          <mat-card-content>
            <p>
              Nuestra pizarrita de notas personal para colocar recordatorios y cositas que querramos tener en cuenta
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>COMING SOON :3</button>
          </mat-card-actions>
        </mat-card>
  </div>
</div>