<mat-toolbar color="primary">
  <span>Nuestros recuerditos :3 💕 💕</span>
</mat-toolbar>
<mat-card class="card-verification">
  <mat-card-header>
    <mat-card-title>Amoooshiii, amoooshiiii edes tu?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="text-center"></div>
    <p style="margin:0 auto; text-align:center; display:block">
      ¿Cuándo comenzó esta hemosha travesía?
    </p>
    <form #formValidation="ngForm" style="text-align:center">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" name="date-validation" placeholder="Ingresar Fecha" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="validateAmoshi()">VES? SOY AMOSHI :3</button>
    <button mat-button>ACERCA DE</button>
  </mat-card-actions>
</mat-card>