.card-verification {
    max-width: 700px;
    margin: 20px auto;
    height: 0px;
    min-height: 170px;
position: absolute;
margin: auto;
left: 0;
top:0;
right: 0;
bottom: 0;


}
.text-center { 
    margin: 0 auto;
    text-align: center;
}
