<mat-toolbar color="primary">
  <span>Nuestro Bucket List 💕 💕</span>
</mat-toolbar>
<dl class="bucket">
  <ng-container *ngIf="bucketListPending">
    <dt>Nuestras cositas pendientes</dt>
    <dd *ngFor="let item of bucketListPending">
      <input type="checkbox"><span>{{item.description}}</span><span>{{item.create_date}}</span><span>{{item.schedule_end}}</span><span>{{item.created_by}}</span>
    </dd>
  </ng-container>
  <ng-container *ngIf="bucketListCompleted">
    <dt>Nuestras cositas completadas</dt>
    <dd *ngFor="let item of bucketListCompleted">
      <input type="checkbox"><span>{{item.description}}</span><span>{{item.create_date | date : 'dd-mm-yyyy'}}</span><span>{{item.schedule_end}}</span><span>{{item.created_by}}</span>
    </dd>
  </ng-container>
</dl>