/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-family: "Roboto";
}
body {
  height: 100vh;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.card {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
}

.wrapper {
  margin: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  &.border > div[class*="col-"] {
    box-sizing: border-box;
    border: 5px solid transparent;
    background-clip: border-box;
  }

  .col-1 {
    width: 8.3333%;
    flex-basis: 8.3333%;
  }
  .col-2 {
    width: 16.6666%;
    flex-basis: 16.6666%;
  }
  .col-3 {
    width: 25%;
    flex-basis: 25%;
  }
  .col-4 {
    width: 33.3333%;
    flex-basis: 33.3333%;
  }
  .col-5 {
    width: 41.6666%;
    flex-basis: 41.6666%;
  }
  .col-6 {
    width: 50%;
    flex-basis: 50%;
  }
  .col-7 {
    width: 58.3333%;
    flex-basis: 58.3333%;
  }
  .col-8 {
    width: 66.6666%;
    flex-basis: 66.6666%;
  }
  .col-9 {
    width: 75%;
    flex-basis: 75%;
  }
  .col-10 {
    width: 83.3333%;
    flex-basis: 83.3333%;
  }
  .col-11 {
    width: 91.6666%;
    flex-basis: 91.6666%;
  }
  .col-12 {
    width: 100%;
    flex-basis: 100%;
  }
  & > div[class*="col-"] {
    @media screen and (max-width: 450px) {
      width: 100%;
      flex-basis: 100%;
    }
  }
}
